# Source documents are fetched, never vendored -- the same rule as the NASA
# corpus next door. This paper is CC BY-NC-ND: free to read and redistribute
# verbatim, but the licence forbids derivatives, and a repository that ships the
# PDF alongside transformed extractions of it is not obviously within that. The
# manifest's DOI and SHA-256 prove you fetched what was transcribed.
bundle_*/source/
