# Card texts are NOT redistributed here.
#
# The Liang repo declares no licence, and each card carries its own model
# licence on top. Committing 150 card bodies would redistribute third-party
# text on unclear terms -- the same diligence question raised against the
# modelbiome corpus in A17.3, applied to ourselves.
#
# Nothing is lost: `make_gold_set.py` regenerates them from the pinned corpus
# with a fixed seed, and `row_hash` in gold_set.csv identifies exactly which
# text each label refers to. The gold set stays re-derivable; the text stays
# where its licence is.
cards/
