# Card text inline, same reasoning as gold/ and enrichment/: the corpus is
# CC-BY-4.0 but each card carries its own licence on top. The sheet regenerates
# deterministically from the pinned corpus at the seed in manifest.json.
holdout_set.csv
