name: Validate UoA Examples
on:
  push:
  pull_request:
jobs:
  pyshacl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install rdflib pyshacl
      - name: Validate Minimal
        run: pyshacl -s schemas/uofa.shacl.ttl -df json-ld -d examples/mock-medical-minimal.jsonld -f human
      - name: Validate Complete
        run: pyshacl -s schemas/uofa.shacl.ttl -df json-ld -d examples/mock-aero-complete.jsonld -f human
      - name: Validate Explicit
        run: pyshacl -s schemas/uofa.shacl.ttl -df json-ld -d examples/mock-self-contained-complete.jsonld -f human
